@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
/*CSS CONTENTS:
SHARED BODY STYLING
HEADER AND LOGO STYLING
FEATURING THIS MONTH STYLING
IN INTERVIEW AND TECHNEWS STYLING
CUBASE SECTION STYLING
NEXT MONTH SECTION STYLING
CONTACT FORM STYLING
IN INTERVIEW SECTION STYLING
SPOTIFY SECTION STYLING
FOOTER SECTION STYLING
@MEDIA RESPONSIVE STYLING
*/
/***********SHARED BODY STYLING*****/
body {
  font-family: Oswald, sans-serif;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.active h1{
    border-bottom: 3px solid blue;
}

.container {
    max-width: 500px;
}

hr {
    border: none;
    
}

grey {
  color: grey;
}

strong {
    color: black;
}


nav h1 {
  color: white;
}

h6 {
    color: white;
    border-top: 1px solid white;
    padding-top:10px;
    
}
/***********SHARED BODY STYLING END*****/

/***********HEADER AND LOGO STYLING*****/



.left {
    height: 55px;
    width: 100%;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
    text-align: center;  
    background-color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    
}

.center {
    height: 55px;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    text-align: center;
    background-color: black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

.right {
    height: 55px;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    background: black;
    border-left: 3px solid white;
    
}
/***********HEADER AND LOGO STYLING END*****/

/********START OF FEATURING THIS MONTH STYLING*********/
table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
td {
    
  border: 2px solid white;
  text-align: center;
  width: 280px;
  background-color: black;
  padding: 10px 0;
}

td p {
  color:white;
}
img {
  width: 100%;
  height: 150px;
  display: block
}
yellow {
    color: yellow;
}
.tohide {
    display:none;
}

/**********END OF FEATURING THIS MONTH STYLING***********/

/*THIS IS THE IN INTERVIEW AND TECH-NEWS SECTION STYLING*/

.btn {
    color: yellow;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
}

.btn:hover {
    background-color: transparent;
}

.leftarticle {
  margin-top: 40px;
  z-index: 1;
  background: url(/images/img4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50px;
  bottom: 30px;
  min-height: 360px;
  
}

.labelcolor {
    color: white;
}
.labelcolor1 {
    color: white;
    font-size: 100px;
    
    
}

.labelstyle {
  margin-left: 350px;
  font-size: xx-large;
  color: gold;
}

.labelstyle2 {
  margin-left: 350px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle3 {
  margin-left: 350px;
  font-size: large;
  color: gold;
}

.rightarticle {
    margin-top: 40px;
    background: url(/images/img5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 50px;
    min-height: 360px;
}

.labelstyle4 {
  border: 3px solid black;
  background: green;
  margin-top: 125px;
  margin-left: 360px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle5 {
  border: 3px solid black;
  background: green;
  margin-top: 40px;
  margin-left: 300px;
  font-size: large;
  text-align: center;
  color: gold;
}
/*END OF IN INTERVIEW AND TECH-NEWS SECTION STYLING*/

/*START OF CUBASE SECTION STYLING*/
.wrapper {
  background-color: rgb(221, 221, 221);
  margin-left: 100px;
  margin-right: 100px;
}

/*hr{
  border: none;
}*/

.box {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  border: 5px solid black;
}
.box img{
    float: left;
    width: 100%;
    height:100%;
}
.small-left-box {
  float: left;
  width: 40%;
  height: 150px;
  border: 5px solid black;
}

.small-right-box {
  float: right;
  width: 40%;
  height: 150px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}
.text-box {
  margin: 0 auto;
  width: 60%;
  height: 400px;
  border: 5px solid black;
}

.text-box p, h1, h5 {
 padding: 0;
 }

.smtext-box {
  margin: 10px 10px 10px 15px;
  width: 95%;
  max-height: 300px;
  border: 5px solid black;
  text-align: center;
  
}

/*img {
  float: left;
  width: 100%;
  height:100%;
}*/

.thismonthtopbannertitle {
    margin-top: 10px;
    border: 3px solid;  
    background: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
  }

  .bottombannertitle {
    margin-top: 10px;
    margin-bottom: 70px;
    border: 3px solid;  
    max-height: 150px;
    }

    .bottombannertitle img {
        float: left;
        width: 100%;
        height:100%;
    }

    /*END OF CUBASE SECTION STYLING*/
/**********************/

/*THIS IS THE NEXT MONTH SECTION STYLING*/

.month-container {
    margin:auto;
    text-align: center;
    max-width: 1200px;
}

.thismonthbannerai {
  margin-top: 10px;
  border: 3px solid;  
  background: url(/images/usbaudiointerfaces-2x1-.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 340px;
}

.heading {
    margin-top: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
  padding-right:35px;
  background: -webkit-linear-gradient(gray, white, gray);
}

.name {  

  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: black;
}

.subject {  
    
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 140px;
  color: black;
}

/*THIS IS THE END OF NEXT MONTH SECTION STYLING*/

/*MAIN ARTICLE STYLING POSSIBLY FOR DELETION*/

/*.main-article {
    min-height: 420px;
    border: 2px solid;
}*/
/*MAIN ARTICLE STYLING*/

/*.main-article {
    min-height: 420px;
    border: 2px solid;
}*/

/*CONTACT FORM (CONTACT US & SUBMIT YOUR FORM) STYLING*/

.background {
    background-color: rgb(129, 183, 26);
}

.form-control {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset, -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
   
}

.inputwidth {
    width: 450px;
    text-align: center;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset, -8px -8px 12px 0 rgba(255, 255, 255, 0.3)inset;
}

.contact-form {
    margin-top: 150px;
    text-align: center;
    
    }

.textbox {
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.comment {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset, -8px -8px 12px 0 rgba(255, 255, 255, 0.3)inset;
    width: 450px;
    height: 100px;
    padding: 10px;
    background-color: whitesmoke;
}

/*.subcomment {
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25) inset, -8px -8px 12px 0 rgba(255, 255, 255, 0.3) inset;
    width: 450px;
    height: 100px;
    padding: 10px;
    background-color: whitesmoke;
}*/

/*END OF CONTACT FORM (CONTACT US & SUBMIT YOUR FORM) STYLING*/

/*THIS IS THE IN INTERVIEW SECTION STYLING*/

.month-container {
    margin:auto;
    text-align: center;
    max-width: 1200px;
    
}

.thismonthbannertitle {
    margin-top: 10px;
    border: 3px solid;  
    background: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
  }

  .nextmonthbannertitle {
    margin-top: 10px;
    margin-bottom: 30px;
    border: 3px solid;  
    background: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
  }

.thismonthbanner {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}



.heading {
    margin-top: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    min-height: 340px;
    max-height: 340px;
    padding-right:35px;
    background: -webkit-linear-gradient(rgb(31, 0, 31), white, rgb(31, 0, 31));
}



.thismonthbanner2 {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}



.heading2 {
    margin-top: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    min-height: 340px;
    max-height: 340px;
    padding-right:35px;
    background: -webkit-linear-gradient(rgb(31, 0, 31), white, rgb(31, 0, 31));
}

.thismonthbanner3 {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.thismonthbanner4 {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/LOIZOUSOPHUNTOLD2_1600x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.name {  

    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: black;
}

.interviewtmn {  

    font-weight: 100;
    font-size: 20px;
    margin-top: 50px;
    color: white;
}

.interviewart {  
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    color: rgb(68, 68, 1);
}
yellow{color:yellow ;}

/* .subject {  
    
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 140px;
    color: black;
} */

/*THIS IS THE END OF THE IN INTERVIEW SECTION STYLING*/

/* THIS IS THE CUBASE REVIEW SECTION */
.cubase {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.cubheading {
    margin-top: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    min-height: 340px;
    max-height: 340px;
    padding-right:35px;
    background: -webkit-linear-gradient(grey, white, grey);
}

.cubase2 {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}

.cubase3 {
    margin-top: 10px;
    border: 3px solid;  
    background: url(/images/img12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
}
.cubase3 img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    min-width: 100%
}

.videowrapper {
    
    padding-bottom: 56.25%;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*****START OF THE SPOTIFY SECTION STYLING****/


.row {
  height: auto;
}

/*hr{
  border: none;
}*/

.coltwo {
  margin-top: 30px;
  text-align:left;
  }

gold {
  color: gold;
}

.spot-color {
    color: white;
}

.award {
  margin-right: 10px;
  float: right;
  border: 4px solid;
  height: 100px;
  width: 100px;
  padding: 10px;
  text-align: center;
  color: gold;
  background-color: black;
  border-radius: 50%;
}
/*****END OF THE SPOTIFY SECTION STYLING****/

/*THIS IS THE FOOTER AREA STYLING*/

.fixed-footer {
    clear: both;
    border-top: 3px solid white;
    background: black;
    height: 60px;
    z-index: 2;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.fixed-footer p {
    /*margin: 20px 30px 0 0;
    float: right;*/
    font-size: small;
    margin-top: 20px;
}


i {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

.social-links {
    
  font-size: 30px;
  color: white;
  text-align: center;
}
.foot-left {
    height: 55px;
    width: 100%;
    text-align: center;  
    background-color:black
    
}
.foot-center {
    height: 55px;
    text-align: center;
    background-color: black;
    
}
.foot-right {
    height: 55px;
    text-align: center;
    background: black;
    
}
/*END OF FOOTER AREA STYLING*/

@media screen and (max-width: 500px) {
    
/* LANDING PAGE MOBILE STYLINGS*/
    
    .tohide {
        display: block;
    }
    hr {
        display:none;
    }
    
    .right {
    border-top: 3px solid white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    }
    .desktop {
    display:none;
    }
    table td {
    float:left;
    height:100%;
    width: 100%;
  }
  /* END OF LANDING PAGE MOBILE STYLINGS*/

/*CONTACT / SUBMISSION FORM MOBILE STYLINGS*/
  
.contact-form {
    margin-top: 0;
}

.inputwidth {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
.form-control {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
.comment {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }
.subcomment {
    margin-top: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.mob-hide {
    display: none;
}
    /*END OF CONTACT / SUBMISSION FORM MOBILE STYLINGS*/ 

    /* IN INTERVIEW MOBILE STYLINGS */
.heading {
    max-height: 420px;
    min-height: 420px;
    background: -webkit-linear-gradient(rgb(31, 0, 31), white);
    border-left: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
.lgheading {
    max-height: 460px;
    min-height: 460px;
    background: -webkit-linear-gradient(rgb(31, 0, 31), white);
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
.smheading {
    max-height: 350px;
    min-height: 350px;
}
.thismonthbanner {
    margin-left: 20px;
    margin-right: 20px;
}
/* .heading {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 470px;
    max-height: 470px; */
}
.thismonthbanner2 {
    margin-left: 20px;
    margin-right: 20px;
}
.thismonthbanner3 {
    margin-left: 20px;
    margin-right: 20px;
}
.thismonthbanner4 {
    margin-left: 20px;
    margin-right: 20px;
}


.first {
    order: 3;
}
.second {
    order: 1;
}
.third {
    order: 2;
}
.fourth {
    order: 5;
}
.fifth {
    order: 4;
}
.sixth {
    order: 7;
}
.seventh {
    order: 6;
}
/* END OF IN INTERVIEW MOBILE STYLINGS */

/* CUBASE REVIEW MOBILE STYLINGS */

.cubase {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}
.cubase2 {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}
.cubase3 {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
}


.cubheading {
    border-left: 3px solid black;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 420px;
    max-height: 420px;
}
.mdcubheading {
    min-height: 450px;
    max-height: 450px;
}
.lgcubheading {
    min-height:720px;
    max-height:720px;
}

iframe {
  min-width: 100%;
}

/* END OF CUBASE REVIEW MOBILE STYLINGS */

/* FOOTER MOBILE STYLINGS */

    .foot-left{
    display: none;
}
    

}


