@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/***********GENERAL BODY STYLING*****/
body {
  font-family: Oswald, sans-serif;
  
  padding-bottom: 40px;
}

.container {
    max-width: 500px;
}

hr {
    border: none;
    
}

grey {
  color: grey;
}

strong {
    color: black;
}


nav h1 {
  color: white;
}
/***********GENERAL BODY STYLING END*****/

/***********HEADER AND LOGO STYLING*****/
.left {
  text-align: center;
  background-color: black;
}

.left2 {
  text-align: center;

}

.left3 {
  text-align: center;
  
}

.center {

  text-align: center;  
  background-color: white;
  border-left: 3px solid;
  border-right: 3px solid;
}
.basecenter {
  text-align: center;  
  background-color: white;
  border-left: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
}

.right {
  text-align: center;
  background: black;
}

.right2 {
  text-align: center;
}

.right3 {
  text-align: center;
}

/***********HEADER AND LOGO STYLING END*****/

/**************SECTION 2 NEWS***************/


/*FEATURING THIS MONTH STYLING*/
table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
td {
  border: 2px solid white;
  text-align: center;
  width: 280px;
  background-color: black;
  padding: 10px 0;
}

td p {
  color:white;
}
img {
  width: 100%;
  height: 150px;
  display: block
}
yellow {
    color: yellow;
}

/*END OF FEATURING THIS MONTH STYLING*/

/*THIS IS THE SECOND SECTION STYLING*/

.leftarticle {
  margin-top: 40px;
  z-index: 1;
  background: url(/images/img4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 50px;
  bottom: 30px;
  min-height: 360px;
  
}

.labelstyle {
  margin-left: 350px;
  font-size: xx-large;
  color: gold;
}

.labelstyle2 {
  margin-left: 350px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle3 {
  margin-left: 350px;
  font-size: large;
  color: gold;
}

.rightarticle {
    margin-top: 40px;
  background: url(/images/img5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  right: 50px;
  min-height: 360px;
}

.labelstyle4 {
  border: 3px solid black;
  background: green;
  margin-top: 125px;
  margin-left: 360px;
  font-size: xxx-large;
  color: gold;
}

.labelstyle5 {
  border: 3px solid black;
  background: green;
  margin-top: 40px;
  margin-left: 300px;
  font-size: large;
  text-align: center;
  color: gold;
}
/*END OF SECOND SECTION STYLING*/


/**********************/

/*THIS IS THE THIRD SECTION STYLING*/

.month-container {
    margin:auto;
    text-align: center;
    max-width: 1200px;
}

.thismonthbanner {
  margin-top: 10px;
  border: 3px solid;  
  background: url(/images/usbaudiointerfaces-2x1-.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 340px;
}

.heading {
    margin-top: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
  padding-right:35px;
  background: -webkit-linear-gradient(gray, white, gray);
}

.name {  

  font-weight: 100;
  font-size: 46px;
  margin-top: 50px;
  color: black;
}

.subject {  
    
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 140px;
  color: black;
}

/*THIS IS THE END OF THIRD SECTION STYLING*/










/*THIS IS THE FOOTER AREA STYLING*/

.fixed-footer {
    z-index: 2;
    width: 100%;
    position: fixed;
    bottom: 0;
}

i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}

.social-links {
  font-size: 30px;
  color: white;
  text-align: center;
}



footer {
  max-width: 100%;
  background: black;
  position: relative;
  border-bottom: 1px solid;
}

footer p {
  font-size: x-small;
}

/*END OF FOOTER AREA STYLING*/

/*MAIN ARTICLE STYLING*/

.main-article {
    min-height: 420px;
    border: 2px solid;
}

/*CONTACT FORM STYLING*/

.form-control {
    border: 1px solid;
    width: 450px;
    margin-left: 10px;
}

.inputwidth {
    width: 450px;
    text-align: center;
}

.contact-form {
    text-align: center;
    padding-top: 22px;
    }

.textbox {
    border: 1px solid;
    height: 50px;
    width: 50px;
}

.comment {
    width: 450px;
    height: 100px;
    padding: 10px;
    background-color: whitesmoke;
}

.subcomment {
    width: 450px;
    height: 124px;
    padding: 10px;
    background-color: whitesmoke;
}